.header#app-header {
	padding: 1.5rem 6rem;
	width: 100%;
	background-color: $header-bg;
	display: flex;
	box-sizing: border-box;
	z-index: 50;
	position: fixed;

	@include smallScreen {
		padding: 1.5rem 2rem;
	}
}

.header {
	&__container {
		display: flex;
		box-sizing: border-box;
		width: 100%;
		flex-direction: row;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;

		@include smallScreen {
			max-width: 600px;
		}
	}

	&.nav-active &__nav-box {
		transform: translateX(0);
	}

	&__logo-box {
		& img {
			width: 30px;
			cursor: pointer;
		}
	}

	&__search-box {
		position: relative;

		& input[type="text"] {
			border-radius: 5px;
			border: none;
			padding: 10px 16px;
			outline: none;
			font-size: 1.55rem;
			-webkit-opacity: 0.85;
			color: $white;
			background-color: $header-input-bg;
			width: 300px;

			&::placeholder {
				font-size: 1.45rem;
				color: $white;
				opacity: .85;
			}
		}

	}

	&__magnifier-box {
		position: absolute;
		top: 6px;
		right: 7px;
	}

	&__user-picture-box {
		& img {
			width: 40px;
			cursor: pointer;
			border: 2px solid transparent;
			transition: border 0.35s ease-in-out;
			border-radius: 50%;

			&:hover {
				border: 2px solid $white;
			}
		}
	}

	&__nav-box {
		margin-top: 15px;
		height: calc(100vh - 96px);
		position: absolute;
		width: 120px;
		right: 0;
		background-color: blue;
		padding: 8px 16px;
		border-bottom-left-radius: 5px;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;

		& h2 {
			margin-bottom: 1rem;
			font-size: 1.65rem;
			font-weight: bold;
			color: #efefef;
		}

		& li {
			padding: 2px 0px;
		}

		& a {
			color: $dirty-white;
			text-decoration: none;
			opacity: 0.9;
			transition: opacity 0.3s ease-in-out;

			&:hover {
				opacity: 1;
			}

			&::after {
				display: block;
				content: "";
				background-color: $dirty-white;
				height: 2px;
				margin-top: 2px;
				width: 1px;
				opacity: 0;
				transition: opacity, width 0.3s ease-in-out;
			}

			&:hover::after {
				opacity: 0.65;
				width: 100%;
			}
		}

		& input[type="submit"] {
			background-color: $white;
			color: blue;
			padding: 6px 12px;
			border: none;
			border-radius: 5px;
			outline: none;
			font-weight: bold;
			font-size: 1.5rem;
			width: 100px;
			position: absolute;
			bottom: 1.5rem;
			transition: background-color 0.2s ease-out;

			&:hover {
				cursor: pointer;
				background-color: #e4f7ff;
			}
		}
	}
}