.heading-primary,
.heading-secondary,
.heading-third {
	font-weight: 700;
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.heading-primary {
	font-size: 2.2rem;
}

.heading-secondary,
.heading-third {
	font-size: 1.75rem;
}