// colors 
$aqua: #08ddc1;
$white: #fff;
$dirty-white: #efefef;

$orange: #ff5e3a;
$orange-hover: #fd795c;

$blue: #2A7DA1;

$blue-fb: #2f5b9d;
$blue-fb-hover: #4f79b7;

$red-google: #B23121;
$red-google-hover: #D44638;

$black: #515365;
$border-input-color: #e6ecf5;

$red-error: #FF0000;