.posts {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	max-width: 650px;
	margin: 0 25px;

	@include mediumScreen {
		max-width: 450px;
		margin: 0 15px;
	}

	@include smallScreen {
		width: 90%;
		max-width: 600px;
		margin: 2rem auto 0rem;
		order: 3;
	}

	&__titile {
		margin-bottom: 1rem;

		& h2 {
			font-weight: 700;
			color: $black;
		}
	}

	&__container {
		display: flex;
		flex-direction: column-reverse;
	}

	&__single-post {
		border: 1px solid $border-color;
		background-color: $white;
		padding: 2.5rem;
		border-radius: 5px;
		margin-bottom: 2rem;
		position: relative;

		&--preload {

			& p:empty:before,
			& p:empty:after {
				content: "";
				display: block;
				height: 1rem;
				background-color: $preloaded-content;
				border-radius: 1rem;
				margin-bottom: 1rem;
			}
		}
	}

	&__info {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 1.25rem;
	}

	&__avatar {
		&--preload {
			background-color: $preloaded-content;
			border-radius: 50%;
			height: 40px;
			width: 40px;

			& img {
				display: none !important;
			}
		}

		& img {
			width: 40px;
			cursor: pointer;
			cursor: pointer;
			border-radius: 50%;
			display: block;
		}
	}

	&__author {
		margin-left: 1.4rem;
		position: relative;
		display: flex;
		flex-direction: column;

		&--preload {
			padding-bottom: 0px !important;

			& h2:empty:after {
				content: "";
				display: block;
				height: 1rem;
				background-color: $preloaded-content;
				border-radius: 1rem;
			}
		}

		& h2 {
			margin-bottom: 0;
			color: $black;
			font-weight: 700;
			cursor: pointer;
		}

		& time {
			font-size: 1.35rem;
			font-weight: 400;
			line-height: 1.5;
			color: #888da8;
			transform: translateY(-5px);
		}
	}

	&__control-panel {
		position: absolute;
		right: -15px;
		top: 8px;

		&--preload {
			display: none;

			& .like-post {}
		}
	}

	&__single-control {
		display: block;
		margin-bottom: 6px;
		margin-right: 0;
		background-color: #9a9fbf;
		width: 34px;
		height: 34px;
		line-height: 36px;
		border-radius: 50%;
		display: flex;
		transition: background-color .3s ease-in-out;

		&:hover {
			cursor: pointer;
			background-color: #ffbf00;
		}

		& img {
			width: 16px;
			margin: 0 auto;
		}
	}

	& hr {
		width: 100%;
		border: .5px solid #e6ecf5;
		margin-top: 2rem;
		margin-bottom: 1.5rem;
	}

	&__likes {
		font-size: 1.3rem;

		&--preload {
			& span:empty:after {
				content: "";
				display: block;
				height: 1rem;
				background-color: $preloaded-content;
				border-radius: 1rem;
				width: 100px;
			}
		}
	}
}

.liked-post {
	background-color: red !important;
}