.settings {
	flex-grow: 1;
	max-width: 250px;
	border: 1px solid $border-color;
	border-radius: 5px;
	background-color: $white;

	&,
	&__row {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}

	&__row {
		width: 100%;
		border-bottom: 1px solid $border-color;
		transition: background-color 0.3s ease-in-out;

		&:first-child,
		&:last-child {
			padding: 20px 25px 20px;
		}

		&:not(:first-child):not(:last-child):hover {
			background-color: $orange;
			cursor: pointer;

			& .settings__option {
				color: $white;
				opacity: 0.95;
			}
		}

		& h2 {
			color: $black;
			font-weight: 700;
		}
	}

	& a {
		text-decoration: none;
		color: #8d97ad;
		padding: 20px 25px 20px;
	}

	&__option {
		transition: color 0.3s ease-in-out;
	}

	& input[type="submit"].btn--orange {
		max-height: 40px;
		max-width: 120px;
		margin-left: 0;
		margin-bottom: 0;
		text-align: center;
	}
}