.add-post {
	width: 100%;
	box-sizing: border-box;
	padding: 5rem 1rem;

	&__content {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 450px;
	}

	&__text-area {
		resize: none;
		height: 100px;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 6px 12px;
		font-size: 1.5rem;
		outline: none;
		border-color: $border-input-color;
		color: $black;
	}

	&__btn {
		margin-top: 1rem;
		width: 100px;
		padding: 6px 12px;
		background-color: $orange;
		transition: background-color .3s ease-in-out;
		color: $white;
		font-weight: bold;
		font-size: 1.5rem;
		border: none;
		border-radius: 5px;

		&:hover {
			background-color: $orange-hover;
			cursor: pointer;
		}

		&:disabled {
			opacity: .7;
			cursor: default;
		}
	}
}