.edit-account {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	flex-grow: 2;
	max-width: 650px;
	background-color: $white;
	border: 1px solid $border-color;
	border-radius: 5px;
	margin: 0 2.5rem;

	&__row {
		padding: 20px 25px 20px;
		border-bottom: 1px solid $border-color;
		display: flex;
		flex-direction: column;

		& h2 {
			color: $black;
			font-weight: 700;
		}
	}

	& input[type="submit"].btn--orange {
		width: 200px;
	}

	& input[type="text"],
	& input[type="password"] {
		border-radius: 5px;
		box-sizing: border-box;
		padding: 6px 12px;
		font-size: 1.5rem;
		outline: none;
		border: 1px solid $border-color;
		color: $black;
	}

	& textarea {
		resize: none;
		height: 100px;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 6px 12px;
		font-size: 1.5rem;
		outline: none;
		border: 1px solid $border-color;
		color: $black;
	}
}